/* HEADER */
header {
  background: URL("http://pics.ebaystatic.com/aw/pics/vit/flag/hdr2_flag.gif");
  background-size: cover;
  height: 13em;
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  z-index: 10;
}

.nav {
  text-align: center;
}

#header_pic {
  margin-top: -.5em;
  height: 13em;
  width: 13em;
}

#header_p {
  margin-top: .5em;
  font-size: 2.5em;
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

#logo {
  margin-top: 1.5em;
  width: 10em;
  height: 10em;
}

#logo:hover {
  transform: rotateY(360deg);
  transition: 2s;
}

/* MAIN BODY */
.background {
  position: relative;
  margin-top: 13em;
  background: URL("http://www.alu.army.mil/alog/issues/JulAug10/Story_Images/Drawdown_Iraq_port.jpg");
  background-size: cover;
  height: 50em;
  background-position: 0px -250px;
  border-top: 1em solid black;
  display: flex;
  align-items: center;
}

.container {
  color: white;
  text-align: center;
}

.background_2 {
  position: relative;
  background: URL("http://www.theodoresworld.net/pics/0207/trooopsbridgeImage2.jpg");
  background-size: cover;
  height: 50em;
  border-top: 1em solid black;
  display: flex;
  align-items: center;
}

.col-sm-6 p {
  text-align: left;
  text-indent: 3em;
  font-size: 2em;
}

.col-sm-6 img {
  border-radius: 20%;
}

.background_3 {
  position: relative;
  background: green;
  background-size: cover;
  height: 75em;
  border-top: 1em solid black;
  display: flex;
  align-items: center;
}
/* FOOTER */

footer {
  text-align: center;
  background: black;
  width: 100%;
  height: 2.5em;
}

.col-sm-4 {
  margin-top: .5em;
}

footer p {
  color: white;
}