body {
  font-family: times;
}

/* HEADER */
header {
  background: URL("http://pics.ebaystatic.com/aw/pics/vit/flag/hdr2_flag.gif");
  background-size: cover;
  height: 13em;
}

.col-md-4 {
  display: inline-block;
  width: 33%;
  height: 35%;
  text-align: center;
}

#header_pic {
    height: 13em;
    width: 13em;
}

#header_p {
  list-style-type: none;
  font-family: times;
  font-size: 3em;
  margin-top: .05em;
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

#logo {
    width: 10em;
    height: 10em;
    margin-top: 1.65em;
}

#logo:hover {
  transform: rotateY(360deg);
  transition: 2s;
}

/* MAIN BODY */
.container_1{
  background: URL("http://www.alu.army.mil/alog/issues/JulAug10/Story_Images/Drawdown_Iraq_port.jpg");
  background-size: cover;
  height: 50em;
  overflow: auto;
  color: white;
  background-position: 0px -250px;
}

.container_2 {
  background: URL("http://www.theodoresworld.net/pics/0207/trooopsbridgeImage2.jpg");
  background-size: cover;
  height: 50em;
  color: white;
  overflow: auto;
  background-position: 0px -250px;
}

h2 {
  text-align: center;
   
}

.col-md-6 {
  display: inline-block;
  text-align: center;
}

.col-md-6 p {
  text-align: left;
  text-indent: 3em;
  font-size: 2em;
}

.col-md-6 img {
  border-radius: 20%;
}

/* FOOTER */

footer {
  text-align: center;
  background: black;
}
footer p {
  margin-top: .65em;
  color: white;
}

.col-sm-4 {
  display: inline-block;
  width: 33%;
  height: 35%;
  text-align: center;
}