/* GENERAL */
img {
  width: 50%;
  height: auto;
  border-radius: 20%;
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

/* HEADER */

header {
  background: #2980b9;
  position: fixed;
  height: auto;
  width: 100%;
  left:0px;
  top:0px;
  z-index: 10;
  font-size: 1.5vw;
}

#header_pic {
  height: auto;
  width: 18vh;
}

#logo {
  height: auto;
  width: 15vh;
}

#logo:hover {
  transform: rotateY(360deg);
  transition: 2s;
}

/* MAIN BODY */
.background {
  position: relative;
  overflow: hidden;
  background: #2980b9;
  text-align: center;
  color: white;
}

.mil{
  margin-top: 15vh;
  background: #bdc3c7;
}

.gal {
  background: #bdc3c7;
}

.col-sm-6 p {
  text-align: justify;
  font-size: 2vw;
}

/* FOOTER */

.footer {
  background: #2980b9;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}